@import "./fonts";
@import "./variables";
@import "./section1";
@import "./section2";
@import "./section3";
@import "./section4";
@import "./section5";

//reset
*, body {
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: $dinnextstencil-bold;
    color: $main-text-color;
}

p {
    font-family: $dinnextstencil-regular;
    color: $main-text-color;
}

cite {
    font-family: $dinnextstencil-regular;
}

.container {
    overflow-x: hidden;
}