@media (max-width: 1700px) {
    footer .footer-container {
        padding: 0 14rem;
    }

    footer .footer-container img {
        width: 10rem;
    }
}



@media (max-width: 1500px) {
    .c2 .specialist-quote {
        margin: 1.5rem 8rem;
    }

    .c2 .specialist-quote p {
        font-size: 2.25rem;
    }

    .c3 .c3-right {
        padding: 0 8rem;
    }

    .c3 .c3-right .right-up {
        font-size: 2.45rem;
    }

    .c3 .c3-right .right-down {
        font-size: 1.75rem;
    }

    .c4 .about-benefits {
        padding-bottom: 3rem;
    }

    .c4 .about-benefits .benefit-item {
        padding: 0 2rem;
    }

    .c4 .about-benefits .benefit-item img {
        width: 10rem;
    }

    .c4 .about-benefits .benefit-item p {
        font-size: 1.15rem;
    }

}

@media (max-width: 1440px) {
    .c3 .c3-left img {
        flex-shrink: 0;
        width: 50vw;
    } 

    .c4 .about-benefits .benefit-item {
        padding: 0 2rem;
    }

    .c4 .about-benefits .benefit-item img {
        width: 10rem;
    }

    .c4 .about-benefits .benefit-item p {
        font-size: 1.15rem;
    }

    .c7 .social-icons img {
        width: 3.45rem;
    }

    .c6 .faq-accordion {
        width: 79%;
    }
}

@media (max-width: 1280px) {
    .c1 img {
        width: 6.8rem;
    }

    .c1 .text {
        padding-top: 7.56rem;
    }

    .c2 .disclaimer {
        padding: 1.75rem 6rem;
    }

    .c3 .c3-left img {
        flex-shrink: 0;
        width: 55vw;
    } 
    
    .c3 .c3-right {
        padding: 0 3rem;
    }

    .c3 .c3-right .right-up p{
        font-size: 2.25rem;
    }

    .c3 .c3-right .right-up span {
        font-size: 2.25rem;
    }

    .c3 .c3-right .right-down p {
        font-size: 1.25rem;
    }

    .c6 .faq-accordion {
        width: 90%;
    }
}

@media (max-width: 1220px) {
    .c5 .c5-description {
        font-size: 1.35rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item {
        width: 18rem;
        height: 7.3rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item a p {
        font-size: 1rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item a span {
        font-size: 1.30rem;
    }

    .c5 .locations-description .description-item .location-image{
        width: 40rem;
    }

    .c5 .locations-description .description-item .location-description{
        width: 40rem;
        max-width: 40rem;
        font-size: 1.15rem;
    }


}

@media (max-width: 1175px) {
    footer .footer-container {
        padding: 0 6rem;
    }
}

@media (max-width: 1146px) {
    .c3 .c3-right {
        padding: 0rem 2rem 3rem;
    }

    .c3 .c3-right .right-up p{
        font-size: 1.9rem;
    }

    .c3 .c3-right .right-up span {
        font-size: 1.9rem;
    }

    .c3 .c3-right .right-down p {
        font-size: 1.15rem;
    }

    .c4 {
        margin-top: -4rem;
    }

    .c6 .faq-accordion {
        width: 98%;
    }
}

@media (max-width: 1040px) {
    .c4 {
        margin-top: -11rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item {
        width: 15rem;
        height: 6.9rem;
    }

    .c5 .locations-description .description-item .location-image{
        width: 37rem;
    }

    .c5 .locations-description .description-item .location-description{
        width: 37rem;
        max-width: 37rem;
        font-size: 1.15rem;
    }

    .c7 .catch-phrase img {
        width: 13.25rem;
    }

    .c7 .catch-phrase h3 {
        font-size: 4.8rem;
    }

    .c7 .social-icons img {
        width: 2.95rem;
    }
}

@media (max-width: 940px) {
    .c1 .text {
        padding-top: 6.5rem;
    }
    
    .c1 .text .landing-title {
        font-size: 3.2rem;
    }

    .c1 .text p {
        font-size: 1.35rem;
    }

    .c1 .text .p-space {
        padding: 0.5rem 0 2rem 0;
    }
}

@media (max-width: 988px) {
    .c3 .c3-right {
        padding: 0rem 2rem 9rem;
    }

    .c3 .c3-right .right-up p{
        font-size: 1.5rem;
    }

    .c3 .c3-right .right-up span {
        font-size: 1.5rem;
    }

    .c3 .c3-right .right-down p {
        font-size: 1rem;
    }

    .c6 {
        padding: 3rem 5rem 6rem 5rem;
    }
}

@media (max-width: 988px) {
    .c4 .about-benefits {
        padding: 2rem 0 2rem;
    }

    .c4 .about-benefits .benefit-item {
        padding: 0 0.85rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item {
        width: 16rem;
        height: 6.9rem;
    }

    .c5 .locations-description .description-item .location-image{
        width: 33rem;
    }

    .c5 .locations-description .description-item .location-description{
        width: 33rem;
        max-width: 33rem;
        font-size: 1.15rem;
    }


}

@media (max-width: 910px) {
    footer .footer-container {
        padding: 0 3rem;
    }

    footer .footer-container img {
        width: 8rem;
    }
}

@media (max-width: 900px) {
    .c2 .specialist-quote {
        margin: 1.5rem 5.5rem;
    }

    .c2 .specialist-quote p {
        font-size: 2rem;
    }

    .c3 {
        background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.8), rgba(19, 19, 19, 0.5)),
        url("../img-stock/fundoPaisagemC3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 3rem;
    }

    .c3 .c3-left img {
        display: none;
    }
    
    .c3 .c3-right {
        padding: 0;
    }

    .c3 .c3-right .right-up p{
        font-size: 2.5rem;
    }

    .c3 .c3-right .right-up span {
        font-size: 2.5rem;
    }

    .c3 .c3-right .right-down p {
        font-size: 1.25rem;
    }

    .c4 {
        margin-top: 0rem;
        padding-top: 0.5rem;
    }

    .c4 .c4-title {
        font-size: 3rem;
    }

    .c4 span {
        font-size: 3rem;
    }

    .c4 .about-benefits .benefit-item p {
        font-size: 1.05rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item {
        width: 16rem;
        height: 6.9rem;
    }

    .c5 .locations-description .description-item .location-image{
        width: 29rem;
    }

    .c5 .locations-description .description-item .location-description{
        width: 29rem;
        max-width: 29rem;
        font-size: 1.15rem;
    }
}

@media (max-width: 856px) {
    .c1 .text .landing-title {
        font-size: 3rem;
    }

    .c1 .text p {
        font-size: 1.25rem;
    }

    .c5 .c5-title {
        font-size: 4rem;
    }
    
    .c5 .c5-description {
        font-size: 1.35rem;
    }

    .c6 {
        padding: 3rem 4rem 6rem 4rem;
    }
    
    .c6 .c6-description {
        font-size: 1.35rem;
    }

    .c7 .c7-title {
        font-size: 3.8rem
    }

    .c7 span {
        font-size: 3.8rem
    }

    .c7 .c7-description {
        font-size: 1.65rem;
    }
}

@media (max-width: 825px) {
    .c2 blockquote cite img {
        width: 20rem;
        height: 20rem;
    }
}

@media (max-width: 815px) {

    .c5 .locations-menu .locations-div .locations-buttons .location-item {
        width: 14rem;
        height: 7rem;
    }

    .c5 .locations-description .description-item .location-image{
        width: 26rem;
    }

    .c5 .locations-description .description-item .location-description{
        width: 26rem;
        max-width: 26rem;
        font-size: 1.15rem;
    }

    .c6 {
        padding: 3rem 2rem 6rem 2rem;
    }

    .c6 .faq-accordion {
        width: 100%;
    }

    .c6 .faq-accordion .faq-label {
        font-size: 1.15rem;
    }
}


@media (max-width: 798px) {
    .c1 .text .landing-title {
        font-size: 2.8rem;
    }

    .c1 .text p {
        font-size: 1.25rem;
        max-width: 73%;
    }
}

@media (max-width: 768px) {
    .c2 .specialist-quote {
        margin: 1.5rem 3.7rem;
    }

    .c2 .specialist-quote p {
        font-size: 1.55rem;
    }

    .c5 .c5-description {
        font-size: 1.2rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item {
        width: 15rem;
        height: 6.9rem;
    }

    .c5 .locations-description .description-item .location-image{
        width: 24rem;
    }

    .c5 .locations-description .description-item .location-description{
        width: 23rem;
        max-width: 23rem;
        font-size: 1.15rem;
    }
}

@media (max-width: 711px) {
    .c2 .disclaimer {
        padding: 1.75rem 4rem;
    }

    .c5 {
        padding: 0 2rem;
        height: 100vh;
    }

    .c5 .locations-menu {
        flex-direction: column;
    }

    .c5 .locations-menu .locations-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex: 1 1;
    }

    .c5 .locations-menu .locations-buttons .location-item:first-child {
        margin-top: 0;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item {
        width: 12.5rem;
        height: 8rem;
        margin: 0.25rem;
    }
    
    .c5 .locations-description .description-item.is-active{
        padding-top: 2rem;
        align-items: center;
    }

    .c5 .locations-description .description-item .location-image{
        width: 38.4rem;
    }

    .c5 .locations-description .description-item .location-description {
        width: 38.4rem;
        max-width: 38.4rem;
        font-size: 1.15rem;
    }

    .c6 .faq-accordion .faq-label {
        padding: 0.85rem;
    }

    footer .footer-container {
        padding: 0 2rem;
    }

    footer .footer-container p {
        font-size: 1rem;
    }

}

/* -------------------------------------- */

@media (max-width: 705px) {
    .c2 h3 {
        font-size: 2.45rem;
        text-align: center;
    }

    .c4 .c4-title  {
        font-size: 3rem
    }

    .c4 .c4-title span {
        font-size: 3rem
    }

    .c5 .c5-title  {
        font-size: 3rem
    }

    .c5 .c5-description {
        font-size: 1.15rem;
    }

    .c6 .c6-title  {
        font-size: 3rem
    }

    .c6 .c6-description {
        font-size: 1.15rem;
    }

    .c7 .catch-phrase img {
        width: 8.95rem;
    }

    .c7 .catch-phrase h3 {
        font-size: 3.25rem;
    }

    .c7 .c7-title {
        font-size: 3rem;
    }

    .c7 .c7-title span {
        font-size: 3rem;
    }

    .c7 .social-icons img {
        width: 2.45rem;
    }
}

@media (max-width: 675px) {
    .c2 .swiper {
        margin: 0 2rem 0 2rem;
    }
}

@media (max-width: 655px) {
    .c4 {
        padding: 0 2rem;
    }

    .c4 .about-benefits .benefit-item img {
        width: 6.25rem;
        padding-bottom: 1rem;
    }

    .c5 {
        padding: 0 1.35rem;
    }
    
    .c5 .locations-menu .locations-div .locations-buttons .location-item {
        width: 12rem;
    }

    .c5 .locations-description .description-item .location-image{
        width: 35.05rem;
    }

    .c5 .locations-description .description-item .location-description {
        width: 35.05rem;
        max-width: 35.05rem;
        font-size: 1.15rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item a p {
        font-size: 1.10rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item a span {
        font-size: 1.15rem
    }
}

@media (max-width: 610px) {
    .c1 .text #learn-more-button {
        font-size: 1.15rem;
        width: 16.85rem;
        height: 3.27rem;
    }

    .c4 #learn-more-button {
        font-size: 1.15rem;
        width: 16.85rem;
        height: 3.27rem;
    }

    .c7 #learn-more-button {
        font-size: 1.15rem;
        width: 16.85rem;
        height: 3.27rem;
    }

    .c1 .text .landing-title {
        font-size: 2.5rem;
    }

    .c1 .text .p-space {
        font-size: 1.15rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item {
        width: 10.5rem;
    }

    .c5 .locations-description .description-item .location-image{
        width: 32.05rem;
    }

    .c5 .locations-description .description-item .location-description {
        width: 32.05rem;
        max-width: 32.05rem;
        font-size: 1.15rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item a p {
        font-size: 1.02rem;
    }

}

@media (max-width: 610px) {
    .c4 {
        height: 115vh;
    }

    .c4 .c4-title  {
        font-size: 2.5rem
    }

    .c4 .c4-title span {
        font-size: 2.5rem
    }

    .c4 .about-benefits {
        flex-direction: column;
        padding-bottom: 0.25rem;
    }

    .c4 .about-benefits .benefit-item p {
        padding-bottom: 1.25rem;
    }
}

@media (max-width: 545px) {
    .c2 .specialist-quote {
        margin: 1.5rem 2.8rem;
    }

    .c2 .specialist-quote p {
        font-size: 1.25rem;
    }

    .c2 .specialist-quote .specialist-author p {
        font-size: 1.35rem;
    }

    .c2 .specialist-quote .specialist-author span {
        font-size: 1.35rem;
    }

    .c4 {
        padding: 0 1.5rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item {
        width: 10.5rem;
        margin: 0.1rem;
    }

    .c5 .locations-description .description-item .location-image{
        width: 28.55rem;
    }

    .c5 .locations-description .description-item .location-description {
        width: 28.55rem;
        max-width: 28.55rem;
        font-size: 1.05rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item a p {
        font-size: 0.95rem;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item a span {
        font-size: 1.15rem
    }

    footer .footer-container {
        height: 38vh;
    }

    .c7 {
        padding: 0 2rem;
    }
}

@media (max-width: 499px) {
    .c2 .disclaimer {
        padding: 1.75rem 2.5rem 0.7rem;
    }

    .c3 {
        background-position: right;
    }

    .c3 .c3-right .right-up p {
        font-size: 2rem;
    }

    .c3 .c3-right .right-up span {
        font-size: 2rem;
    }

    .c5 {
        height: 100vh;
    }

    .c5 .locations-menu .locations-div .locations-buttons .location-item a {
        padding: 1.25rem 0.5rem;
    }

    .c5 .locations-description .description-item.is-active{
        padding-top: 1.35rem;
    }

    .c5 .locations-description .description-item .location-image{
        width: 26.15rem;
    }

    .c5 .locations-description .description-item .location-description {
        width: 26.15rem;
        max-width: 26.15rem;
        font-size: 1.05rem;
    }
}

@media (max-width: 475px) {
    .c7 .catch-phrase {
        gap: 1.7rem;
    }

    .c7 .catch-phrase img {
        width: 6.7rem;
    }

    .c7 .catch-phrase h3 {
        font-size: 2.45rem;
    }

    footer .footer-container {
        height: 44vh;
        padding: 0 1.1rem;
    }
}

@media (max-width: 455px) {
    .c5 .locations-description .description-item .location-image{
        width: 24.15rem;
    }

    .c5 .locations-description .description-item .location-description {
        width: 24.15rem;
        max-width: 24.15rem;
        font-size: 1.05rem;
    }
}

@media (max-width: 421px) {
    .c2 .specialist-quote {
        margin: 0 1.65rem;
    }

    .c2 .specialist-quote p {
        font-size: 1.15rem;
    }

    .c2 .specialist-author {
        font-size: 1.05rem;
    }

    .c5 {
        padding: 0 0.8rem;
    }

    .c5 .locations-description .description-item .location-image{
        width: 24.15rem;
    }

    .c5 .locations-description .description-item .location-description {
        width: 24.15rem;
        max-width: 24.15rem;
    }

    .c6 .faq-accordion {
        width: 120%;
    }
}

/* adjustments for cellphone specifically */
@media (max-width: 415px) {
    .c1 .text {
        padding-top: 3rem;
    }

    .c4 .about-benefits .benefit-item img {
        width: 5.25rem;
        padding-bottom: 0.65rem;
    }

    .c4 .about-benefits .benefit-item p {
        font-size: 0.85rem;
    }

    .c5 {
        height: 115vh;
    }

    footer .footer-container {
        height: 50vh;
        padding: 0 1.1rem;
    }

    footer .footer-container p {
        font-size: 0.85rem;
    }
}

@media (max-width: 419px) {
    .c5 .locations-description .description-item .location-image {
        width: 21.55rem;
    }

    .c5 .locations-description .description-item .location-description {
        width: 21.55rem;
        max-width: 21.55rem;
    }

    @media (max-width: 675px) {
        .c2 .swiper {
            margin: 0 0.3rem 0 0.3rem;
    }
}

@media (max-width: 376px) {
    .c1 {
        height: 97vh;
    }

    .c1 img {
        width: 5.45rem;
    }

    .c2 h3 {
        padding-bottom: 0.4rem;
    }

    .c4 .about-benefits {
        padding-top: 1rem;
    }

    .c4 .about-benefits .benefit-item img {
        width: 3.5rem;
    }

    .c5 .locations-description .description-item .location-image{
        width: 19.95rem;
    }

    .c5 .locations-description .description-item .location-description {
        width: 19.95rem;
        max-width: 19.95rem;
    }

    footer .footer-container {
        height: 54vh;
    }
}

/* titles only */
@media (max-width: 400px) {
    .c1 .text .landing-title {
        font-size: 2.25rem;
    }

    .c2 h3 {
        font-size: 2.25rem;
        text-align: center;
    }

    .c4 .c4-title  {
        font-size: 2.05rem;
    }

    .c4 .c4-title span {
        font-size: 2.05rem;
    }

    .c5 .c5-title  {
        font-size: 2.25rem;
    }

    .c5 .c5-description {
        font-size: 1rem;
    }

    .c6 .c6-title  {
        font-size: 2.25rem;
    }

    .c6 .c6-description {
        font-size: 1rem;
    }

    .c7 .catch-phrase img {
        width: 6.9rem;
    }

    .c7 .catch-phrase h3 {
        font-size: 2.4rem;
    }

    .c7 .c7-title {
        font-size: 2.25rem;
    }

    .c7 .c7-title span {
        font-size: 2.25rem;
    }

    .c7 .c7-description {
        font-size: 1.15rem;
    }

    .c7 .social-icons img {
        width: 2.45rem;
    }
}

@media (max-width: 361px) {
    .c6 .faq-accordion {
        width: 130%;
    }

    .c7 .catch-phrase {
        gap: 0.75rem;
    }

}

@media (max-width: 340px) {
    .c7 .catch-phrase img {
        width: 4.7rem;
    }

    .c7 .catch-phrase h3 {
        font-size: 1.84rem;
    }
    
    .c7 .social-icons img {
        width: 2rem;
    }
}}

@media (max-width: 340px) {
    .c1 .text .p-space {
        font-size: 0.85rem;
    }
}